
<div class="products-center">
        <!-- single product -->
        <% for(var i = 0; i < user.length; i++) { %>
          <article class="product">
     <div class="col-md-4 text-center">
      
      <div class="img-container">
          
        </div>
    </div>
        <h3>  <%= user[i].dni %> </h3>
        <h4> <%= user[i].surname %> </h4>
       

      </article>
      <% } %>
      <!-- end of single product -->
      
      </div>
      </section>
        </div>
      </div>
    </div>
  
