
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
  
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="img/consultorioportada1.jpg" alt="First slide">
        
        
      </div>
     
      
    </div>
  
  </div>
  
  
  
  
  <div class="container mt-5 pb-5 text-center">
         <div class="row">
             <h1>Servicios</h1>
         </div>
         
         <div class="row orange-line"></div>
         
         <div class="row mt-4">
             <div class="col-md-6" style="padding: 0">
                 <p class="hero-text">
                     Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
                 </p>
             </div>
         </div>
         
         <div class="row">
             <div class="col-md-6">
                 <div class="media">
                     <h1><i class="fas fa-user-md"></i></h1>
                     <div class="media-body">
                         <h5 class="mt-0">Wealth Management</h5>
                          Lorem ipsum dolor sit amet consectetur adipiscing elit. Nulla cursus pharetra massa at lacinia Fusce eleifhend Fusce in dapibus.
                     </div>
                 </div>
             </div>
             
             
             <div class="col-md-6">
                 <div class="media">
                     <h1><i class="fas fa-stethoscope"></i></h1>
                     <div class="media-body">
                         <h5 class="mt-0">Strategic Planningt</h5>
                          Lorem ipsum dolor sit amet consectetur adipiscing elit. Nulla cursus pharetra massa at lacinia Fusce eleifhend Fusce in dapibus.
                     </div>
                 </div>
             </div>
         </div>
         
         
         
             <div class="row mt-4">
             <div class="col-md-6">
                 <div class="media">
                     <h1><i class="fas fa-briefcase-medical"></i></h1>
                     <div class="media-body">
                         <h5 class="mt-0">Investment Banking</h5>
                          Lorem ipsum dolor sit amet consectetur adipiscing elit. Nulla cursus pharetra massa at lacinia Fusce eleifhend Fusce in dapibus.
                     </div>
                 </div>
             </div>
             
             
             <div class="col-md-6">
                 <div class="media">
                     <h1><i class="fal fa-star-of-life"></i></h1>
                     <div class="media-body">
                         <h5 class="mt-0">Turnaround Consulting</h5>
                          Lorem ipsum dolor sit amet consectetur adipiscing elit. Nulla cursus pharetra massa at lacinia Fusce eleifhend Fusce in dapibus.
                     </div>
                 </div>
             </div>
         </div>
         
         
         
         <div class="row mt-4">
             <div class="col-md-6">
                 <div class="media">
                     <h1><i class="far fa-hospital-user"></i></h1>
                     <div class="media-body">
                         <h5 class="mt-0">Sales and Trading</h5>
                          Lorem ipsum dolor sit amet consectetur adipiscing elit. Nulla cursus pharetra massa at lacinia Fusce eleifhend Fusce in dapibus.
                     </div>
                 </div>
             </div>
             
             
             <div class="col-md-6">
                 <div class="media">
                     <h1><i class="fa fa-file mr-4" aria-hidden="true"></i></h1>
                     <div class="media-body">
                         <h5 class="mt-0">Bonds & Commodities</h5>
                          Lorem ipsum dolor sit amet consectetur adipiscing elit. Nulla cursus pharetra massa at lacinia Fusce eleifhend Fusce in dapibus.
                     </div>
                 </div>
             </div>
         </div>
         
      </div>