<div class="container-fluid mt-5">
	<div class="row text-center mb-4">
		<div class="col-md-12"><h2>NUESTROS <strong class="text-primary">PROFESIONALES</strong></h2></div>
		<p class="col-md-6 offset-md-3">Elija la especialidad que necesite y pida su turno acorde a su horario.</p>
	</div>
	
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6 col-12 padding-0">
			<div class="hovereffect">
				<img class="img-fluid" src="img/clinico.jpg" alt="img">
				<div class="overlay">
					<h2>Médicos y horarios disponibles</h2>
					<a class="info" href="/clinicoindex">click</a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padding-0">
       <div class="hovereffect">
        <img class="img-fluid" src="img/cardiologia.jpg" alt="">
        <div class="overlay">
           <h2>Médicos y horarios disponibles</h2>
           <a class="info" href="/cardiologiaindex">click </a>
        </div>
      </div>
     </div>
     
     <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padding-0">
       <div class="hovereffect">
        <img class="img-fluid" src="img/neurologia.jpg" alt="">
        <div class="overlay">
           <h2>Médicos y horarios disponibles</h2>
           <a class="info" href="#"> click </a>
        </div>
      </div>
     </div>
     
     <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padding-0">
       <div class="hovereffect">
        <img class="img-fluid" src="img/pediatria.jpg" alt="">
        <div class="overlay">
           <h2>Médicos y horarios disponibles</h2>
           <a class="info" href="#">click</a>
        </div>
      </div>
     </div>

       <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padding-0">
       <div class="hovereffect">
        <img class="img-fluid" src="img/oftalmologo.jpg" alt="">
        <div class="overlay">
           <h2>Médicos y horarios disponibles</h2>
           <a class="info" href="#">click</a>
        </div>
      </div>
     </div>

       <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padding-0">
       <div class="hovereffect">
        <img class="img-fluid" src="img/urologia.jpg" alt="">
        <div class="overlay">
           <h2>Médicos y horarios disponibles</h2>
           <a class="info" href="#">click</a>
        </div>
      </div>
     </div>

       <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padding-0">
       <div class="hovereffect">
        <img class="img-fluid" src="img/ginecologia.jpg" alt="">
        <div class="overlay">
           <h2>Médicos y horarios disponibles</h2>
           <a class="info" href="#">click</a>
        </div>
      </div>
     </div>

       <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padding-0">
       <div class="hovereffect">
        <img class="img-fluid" src="img/flebologia.jpg" alt="">
        <div class="overlay">
           <h2>Médicos y horarios disponibles</h2>
           <a class="info" href="#">click</a>
        </div>
      </div>
     </div>
		
	</div>
	
</div>
