<div class="row">
   
    <div class="col-md-8 mt-5 mx-auto">
      <div class="card">
        <div class="card-header ">
          <h1 class="h4">
            Menú
          </h1>
        </div>
        <div class="card-body">
          <form action="/users/signup" method="POST">
            
             <div class="form-group">
               <a href="/nuevoturno" class="btn btn-success btn-block pull-right" role="button">Nuevo turno</a>          
            </div>
             <div class="form-group">
               <a href="/turnoindex" class="btn btn-success btn-block pull-right" role="button">Ver mis turnos</a>          
            </div>
            <div class="form-group">
               <a href="/datospersonales" class="btn btn-success btn-block pull-right" role="button">Modificar datos personales</a>          
            </div>
            <div class="form-group">
                <a href="/logout" class="btn btn-success btn-block pull-right" role="button">Cerrar sesión</a>          
            </div>
            <div class="form-group">
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>